* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  color: rgb(58, 217, 245);
  word-break: break-all;
  background-color: #eee;
}
#div1 {
  position: fixed;
  right: 20px;
  top: 20px;
}
#div1::before {
  content: "";
  display: block;
  position: absolute;
}
#div1::after {
  content: "";
  display: block;
  position: absolute;
}
